

@model IEnumerable<MVC.Models.Contact> 
@{
    ViewData["Title"] = "Contact List";
}
<h2>Contatos</h2>
<p>
    <a asp-action="Create" type="button" class="btn btn-outline-primary btn-sm">New Contact</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any()){
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.PhoneNumber)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id= "@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id= "@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id= "@item.ID">Delete</a> |
                        </td>
                    </tr>
                }
            }
    </tbody>
</table>